body {
  background-color: #303633;
  width: 100%;
  margin: 0;
  font-family: NewTransportSemi, Helvetica, Arial, sans-serif;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  overflow: hidden;
}

.grid-item {
  overflow: hidden;
  position: relative;
}
.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}
.grid-item > img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  min-height: 400px;
}

.profile-pic-container {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -100px;
  z-index: 1000;
  border-radius: 100px;
  border: 5px solid white;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.profile-pic-container:hover {
  transform: scale(1.5);
}
.profile-pic-container > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.profile-pic-container > img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
